@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  width: 100%;
  margin: 0;
}

/* CSS FOR EVERY SCREEN TYPE */
.release_date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.album_songs {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 3;
}



/* MOBILE SCREEN SIZE */
@media (max-device-width: 480px) {
  .container {
    width: 80%;
    margin-left: 3rem;
  }

  .title {
    margin-left: 10%;
  }

  .topbox {
    background-color: orange;
    padding: 2.4rem 0;
    margin-bottom: 3rem;
  }

  .left, .right { 
    width: 100%;
  }

  .album {
    align-content: center;
    margin-bottom: 4rem;
  }

  .album_title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  #photo_album_page {
    width: 11rem;
    height: 11rem;
    margin-bottom: 1.5rem;
  }

  
}




/*DESKTOP SCREEN SIZE*/
@media (min-width: 992px) {
  .container{
    width: 60%;
    margin-left: 20%;
  }

  .title {
    margin-left: 30%;
  }

  .topbox {
    background: linear-gradient(90deg, rgba(128,0,32,1) 10%, rgba(0,0,0,1) 40%, rgba(128,0,32,1) 60%);  
    width: 100%;
    padding: 3rem 0;
    margin-bottom: 3rem;
  }
  .left {
    float: left;
    width: 50%;
  
  }
  .right {
    float: left;
    width: 50%;
  }

  .album {
    align-content: center;
    margin-bottom: 23rem;
  }

  .album_title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  #photo_album_page {
    width: 18rem;
    height: 18rem;
    margin-bottom: 1.5rem;
  }
}





.contents {
  margin-left: 30%;
}

p {
  margin-top: 2.5em ;
  margin-bottom: 2.5em ;
}

.album_photo {
  float: left;
  margin-top: 0rem;
  margin-left: 2.5rem;
  background-color: #C8C8C8;
  border-radius: 15px;
  width: 18rem;
}
#photo  {
  width: 18rem;
  height: 18rem;
  border-radius: 15px 15px 0 0;
  margin-bottom: 0;
}

.song_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2.5rem;
  color: black;
}

.song_lyrics {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.9;
  padding-top: 0.5rem;
  color: black;
}

.song_links {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.9;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* CSS FOR THE IDs */


#discbutton {
  float: left;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: -3rem 0 0 8rem;
  cursor: pointer;
  text-align: center;
  padding: 15px 0 15px 0;
}
#discbutton:hover {
  border-color: black;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

#discbutton:active {
}

#button1 {
  font-family: 'Montserrat';
  color: black;
  cursor: pointer;
}
#button1:hover {
  opacity: 0.7;
}
#button1:active {
  color: gray;
}


#current_song {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.9;
  border-bottom: 3px solid red;
  margin-top: 0 ;
  margin-bottom: 0 ;
  display: inline;
}





#photo_name {
  font-family: 'Montserrat';
  font-weight: 500;
  margin-bottom: 1.25rem;
  margin-top: 0;
  margin-left: -1rem;
  font-size: 1.25rem;
  text-align: center;
}




#embed {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  margin-right: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 12px;
  width: 30%;
  height: 352px;
  border: none;
}
